<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogLevel="Warn"
      internalLogFile="${basedir}/logs/nlog-internal.log">
  <variable name="logDir" value="${basedir}/logs" />
  <variable name="layout" value="${longdate}|${level:uppercase=true}|pid=${processid}|thread=${threadid}|trace=${scopeproperty:TraceId:whenEmpty=${activityid}}|${logger}|${message}${onexception:inner=|${exception:format=tostring}}" />
  <targets async="true">
    <target xsi:type="File" name="allFile"
            fileName="${logDir}/service-${shortdate}.log"
            layout="${layout}" encoding="utf-8"
            archiveAboveSize="52428800" archiveNumbering="Sequence" maxArchiveFiles="30"
            concurrentWrites="true" keepFileOpen="false" />
    <target xsi:type="File" name="errorFile"
            fileName="${logDir}/service-error-${shortdate}.log"
            layout="${layout}" encoding="utf-8"
            archiveAboveSize="20971520" archiveNumbering="Sequence" maxArchiveFiles="60"
            concurrentWrites="true" keepFileOpen="false" />
    <target xsi:type="File" name="mappingFile"
            fileName="${logDir}/mapping-${shortdate}.log"
            layout="${layout}" encoding="utf-8"
            archiveAboveSize="20971520" archiveNumbering="Sequence" maxArchiveFiles="30"
            concurrentWrites="true" keepFileOpen="false" />
    <target xsi:type="Console" name="console" layout="${layout}" />
  </targets>
  <rules>
    <logger name="AShareRadar.Mapping.*" minlevel="Debug" writeTo="mappingFile" />
    <logger name="AShareRadar.Infrastructure.MarketData.SnapshotSectorHeatService" minlevel="Debug" writeTo="mappingFile" />
    <logger name="AShareRadar.ServiceHost.Services.MarketMappingSyncService" minlevel="Debug" writeTo="mappingFile" />
    <logger name="AShareRadar.ServiceHost.Hubs.MonitorHub" minlevel="Info" writeTo="mappingFile" />
    <logger name="*" minlevel="Error" writeTo="errorFile" />
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="Microsoft.*" minlevel="Warn" writeTo="allFile,console" final="true" />
    <logger name="*" minlevel="Info" writeTo="allFile,console" />
  </rules>
</nlog>
